/* CSS files should not be empty SonarQube Bug Fix */


.mat_form_field_background_width>>>.mat-mdc-text-field-wrapper {
    width: 140% !important;
}
/* CSS files should not be empty SonarQube Bug Fix */mat-form-field {
    margin-right: 40px;
    margin-left: 20px
  }

  
