<app-header [showRoles]="false"></app-header>

<div class="container col-12" style="margin-top: 5%;margin-bottom: 5%;">
  <section class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form [formGroup]='facilityForm'>
        <div class="mdTitle"> 
          <img src="assets/images/Piramal-logo-login.png" alt="Logo" style="margin: auto auto;">
        </div>
            <div class="row">
              <div class="col-xs-12 m-t-25">
                <mat-radio-group name='isMainStore' formControlName="isMainStore" (change)='checkStores()' (change)='toContinue()'>
                  <h4><strong>{{currentLanguageSet?.inventory?.typeofStores}}</strong>
                  <mat-radio-button color="primary" class="radio-btn" value="true">{{currentLanguageSet?.inventory?.mainStore}}</mat-radio-button>
                  <mat-radio-button color="primary" class="radio-btn" value="false">{{currentLanguageSet?.inventory?.subStore}}</mat-radio-button>
                </h4>
                </mat-radio-group>
              </div>
              <div class="col-xs-12 m-t-25">
                <mat-form-field class="mat_form_field_background_width">
                  <mat-label>{{ currentLanguageSet?.inventory?.facility }}</mat-label>
                <mat-select
                  [style.width]="'100%'"
                  name="facility"
                  formControlName="facility"
                  (selectionChange)="getSubFacility()"
                  (selectionChange)="toContinue()"
                >
                  <mat-option
                    *ngFor="let facility of facilities"
                    [value]="facility"
                  >
                    {{ facility.facilityName }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
                
                <!-- <mat-select [style.width]="'100%'" name='facility' formControlName='facility' placeholder='{{currentLanguageSet?.inventory?.facility}}' (change)='getSubFacility()'
                  (change)='toContinue()'>
                  <mat-option *ngFor='let facility of facilities' [value]='facility'>
                    {{facility.facilityName}}
                  </mat-option>
                </mat-select> -->
              </div>
              <div class="col-xs-12">
                <mat-form-field class="mat_form_field_background_width">
                  <mat-label>{{ currentLanguageSet?.inventory?.subFacility }}</mat-label>
                  <mat-select
                [style.width]="'100%'"
                  name="subFacility"
                  formControlName="subFacility"
                  (selectionChange)='checkSubFacility()'
                  (selectionChange)="toContinue()"
                  [disabled]="
                    facilityForm.controls.isMainStore.value === 'true'
                      ? true
                      : false
                  "
                >
                  <mat-option
                    *ngFor="let subFacility of subFacilities"
                    [value]="subFacility"
                  >
                    {{ subFacility.facilityName }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
                
                <!-- <mat-select [style.width]="'100%'" name='subFacility' formControlName='subFacility' placeholder='{{currentLanguageSet?.inventory?.subFacility}}' (change)='checkSubFacility()'
                  (change)='toContinue()' class="button-disabled" [disabled]='isMainStore'>
                  <mat-option *ngFor='let subFacility of subFacilities' [value]='subFacility'>
                    {{subFacility.facilityName}}
                  </mat-option>
                </mat-select> -->
              </div>
            </div>
            <div class="row m-t-10 m-b-10">
              <div class="col-xs-12">
                <button mat-raised-button color="primary" *ngIf="facilityForm.value.isMainStore !== 'false'" class="pull-right submit button-disabled" [disabled]="!facilityForm.value.facility"
                  (click)='proceedFurther()'>{{currentLanguageSet?.inventory?.continue}}</button>
                <button mat-raised-button color="primary" *ngIf="facilityForm.value.isMainStore === 'false'" class="pull-right submit button-disabled" [disabled]="!facilityForm.value.facility || !facilityForm.value.subFacility"
                  (click)='proceedFurther()'>{{currentLanguageSet?.inventory?.continue}}</button>
              </div>
            </div>
          <!-- </md-card-content> -->
        <!-- </md-card> -->
      </form>
    </div>
  </section>
</div>

<app-footer></app-footer>